<div id="<%= dom_id store %>">
  <p>
    <strong>Title:</strong>
    <%= store.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= store.body %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= store.precio %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= store.store %>
  </p>

</div>
